In [155]:
import pandas as pd

# Cargar el archivo CSV
file_path = "Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv"
df = pd.read_csv(file_path)

# Mapeo de países
country_map = {
    "USA": ["üá∫üá∏", "united  states", "united sates", "united sates of america", "san francisco", "california", "us govt employee overseas, country withheld", "united statea", "united statees", "united states (i work from home and my clients are all over the us/canada/pr", "united states of americas", "united statesp", "united statew", "united stattes", "united statues", "united status", "united statws", "united sttes", "uniter statez", "unitied states", "uniyed states", "uniyes states", "unted states", "untied states", "us of a", "usa", "usaa", "usab", "usat", "usd", "uss" ,"virginia", "for the united states government, but posted overseas", "u.s.", "united states", "us", "america", "the united states", "the us", "u. s", "u. s.", "u.a.", "u.s", "u.s.", "u.s>", "u.sa", "ua", "u.s.a.", "usa", "u.s.a", "uxz", "united y", "united statss", "uniteed states", "usa (company is based in a us territory, i work remote)", "usa-- virgin islands", "usa, but for foreign gov't", "uniited states", "unite states", "united states of america", "unites states", "usa tomorrow", "unitef stated", "united states of american", "united stares", "united state", "united state of america", "united stated", "united stateds", "united states is america", "unitedstates", "i work for a uae-based organization, though i am personally in the us.", "united states- puerto rico"],
    "canada": ["can", "canad", "canadá", "canada and usa", "canada, ottawa, ontario", "canadw", "canda", "csnada", "i am located in canada but i work for a company in the us"],
    "denmark": ["danmark" , "dbfemf"],
    "new zealand": ["nz","new zealand", "aotearoa new zealand", "new zealand aotearoa", "from new zealand but on projects across apac"],
    "argentina": ["argentina", "argentina but my org is in thailand", "i work for an us based company but i'm from argentina."],
    "netherlands": ["nederland", "netherlands", "the netherlands", "nl"],
    "mexico": ["méxico", "mexico"],
    "united kingdom": ["jersey, channel islands","u.k.", "uk (northern ireland)", "uk for u.s. company", "uk (england)", "uk, remote", "u.k. (northern england)", "uk, but for globally fully remote company", "unites kingdom", "london", "uk", "u.k", "united kingdom", "great britain", "england, gb", "england, uk", "united kindom", "united kingdom (england)", "united kingdom.", "united kingdomk", "scotland, uk", "wales, uk", "england", "england, uk.", "england, united kingdom", "england/uk", "englang", "wales (united kingdom)", "wales (uk)", "wales"],
    "germany": ["germany", "company in germany. i work from pakistan."],
    "brazil": ["brasil", "brazil"],
    "france": ["france", "france "],
    "spain": ["spain", "spain "],
    "italy" : ["italy (south)"],
    "china" : ["mainland china"],
    "japan" : ["japan, us gov position"],
    "hong kong" : ["hong konh"],
    "panama" : ["panamá"],
    "australia": ["australi", "australia", "australian"],
    "austria": ["austria", "austria, but i work remotely for a dutch/british company"],
    "romania" : ["from romania, but for an us based company"],
    "czech republic" : ["česká republika"],
    "ireland" : ["northern ireland", "northern ireland, united kingdom"],
    "philippines" : ["remote (philippines)"],
    "bosnia" : ["bosnia and herzegovina"],
    "not defined": [
        "bonus based on meeting yearly goals set w/ my supervisor",
        "i earn commission on sales. if i meet quota, i'm guaranteed another 16k min. last year i earned an additional 27k. it's not uncommon for people in my space to earn 100k+ after commission.",
        "i was brought in on this salary to help with the ehr and very quickly was promoted to current position but compensation was not altered.",
        "$2,175.84/year is deducted for benefits",
        "europe",
        "ff",
        "we don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so i got a raise because a 3rd party assessment showed i was paid too little for the area we were located",
        "worldwide (based in us but short term trips aroudn the world)",
        "global",
        "international",
        "n/a (remote from wherever i want)",
        "na",
        "not defined", "y", "contracts", "currently finance", "is", "ss", "policy", "i.s."
    ]
}

# Normalización de países
def normalize_country(value):
    if pd.isna(value):
        return None
    value = value.strip().lower()  # Eliminar espacios y convertir a minúsculas
    for country, aliases in country_map.items():
        if value in aliases:
            return country
    return value  # Si no está en el mapeo, dejar el valor original

df["What country do you work in?"] = df["What country do you work in?"].apply(normalize_country)

# Guardar el resultado en un nuevo CSV
df.to_csv("normalized_survey.csv", index=False)

print("Limpieza de países completada. Archivo guardado como 'normalized_survey.csv'")

Limpieza de países completada. Archivo guardado como 'normalized_survey.csv'

In [156]:
df["What city do you work in?"] = df["What city do you work in?"].str.lower().str.strip()

# Guardar el DataFrame normalizado
df.to_csv("normalized_survey.csv", index=False)

In [157]:
import pandas as pd


# Diccionario de mapeo para renombrar columnas
column_map = {
    "How old are you?": "Age",
    "What industry do you work in?": "Industry",
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "Annual_Salary",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "Additional_Compensation",
    "Please indicate the currency": "Currency",
    "What country do you work in?": "Country",
    "If you're in the U.S., what state do you work in?": "State_US",
    "What city do you work in?": "City",
    "How many years of professional work experience do you have overall?": "Years_Professional_Experience",
    "How many years of professional work experience do you have in your field?": "Professional_Expr_inField",
    "What is your highest level of education completed?": "Highest_Education",
    "What is your gender?": "Gender",
    "What is your race? (Choose all that apply.)": "Race"
}

# Renombrar columnas
df.rename(columns=column_map, inplace=True)

# Verificar cambios
df.head()

,Timestamp,Age,Industry,Job title,"If your job title needs additional context, please clarify here:",Annual_Salary,Additional_Compensation,Currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",Country,State_US,City,Years_Professional_Experience,Professional_Expr_inField,Highest_Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,USA,Massachusetts,boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,united kingdom,NaN,cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,USA,Tennessee,chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,USA,South Carolina,greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [158]:
import pandas as pd
import requests

# Diccionario de monedas principales
currency_map_main = {
    "USD": "USD", "GBP": "GBP", "CAD": "CAD", "EUR": "EUR", "AUD/NZD": "AUD",
    "CHF": "CHF", "ZAR": "ZAR", "SEK": "SEK", "HKD": "HKD", "JPY": "JPY"
}

# Diccionario de monedas "Other"
currency_map_other = {
    "INR": "INR", "Peso Argentino": "ARS", "MYR": "MYR", "CHF": "CHF", "NOK": "NOK",
    "USD": "USD", "BR$": "BRL", "SEK": "SEK", "Dkk": "DKK", "EUR": "EUR", "TTD": "TTD",
    "Indian rupees": "INR", "BRL (R$)": "BRL", "Mexican pesos": "MXN", "CZK": "CZK",
    "GBP": "GBP", "Bdt": "BDT", "ZAR": "ZAR", "American Dollars": "USD", "Php": "PHP",
    "PLN (Polish zloty)": "PLN", "czech crowns": "CZK", "TRY": "TRY",
    "Norwegian kroner (NOK)": "NOK", "CNY": "CNY", "ILS/NIS": "ILS", "US Dollar": "USD",
    "BRL": "BRL", "NIS (new Israeli shekel)": "ILS", "RMB (chinese yuan)": "CNY",
    "AUD": "AUD", "Taiwanese dollars": "TWD", "Philippine Peso": "PHP", "SGD": "SGD",
    "KRW (Korean Won)": "KRW", "THB": "THB", "IDR": "IDR", "NZD": "NZD", "ILS (Shekel)": "ILS",
    "DKK": "DKK", "China RMB": "CNY", "AUD Australian": "AUD", "LKR": "LKR",
    "Polish Z≈Çoty": "PLN", "Philippine peso (PHP)": "PHP", "Australian Dollars": "AUD",
    "ARS": "ARS", "Argentinian peso (ARS)": "ARS", "Israeli Shekels": "ILS", "ILS": "ILS",
    "MXN": "MXN", "PhP (Philippine Peso)": "PHP", "PLN": "PLN", "KRW": "KRW",
    "SAR": "SAR", "RM": "MYR", "Argentine Peso": "ARS", "Philippine Pesos": "PHP",
    "INR (Indian Rupee)": "INR", "NTD": "TWD", "Danish Kroner": "DKK", "CAD": "CAD",
    "Korean Won": "KRW", "Euro": "EUR", "THAI BAHT": "THB", "Thai Baht": "THB",
    "croatian kuna": "HRK", "PLN (Zwoty)": "PLN", "Rupees": "INR", "Singapore Dollara": "SGD",
    "NGN": "NGN", "COP": "COP", "TZS": "TZS", "Pesos Colombianos": "COP"
}

# Función para obtener tasas de cambio desde la API
def obtener_tasas_de_cambio():
    url = "https://api.exchangerate-api.com/v4/latest/USD"  # Base USD
    response = requests.get(url)
    data = response.json()
    return data["rates"]  # Retorna un diccionario de tasas de cambio

# Obtener las tasas de cambio una sola vez
#exchange_rates = obtener_tasas_de_cambio()

exchange_rates = {
    "USD": 4130.87,  # Dólar estadounidense
    "GBP": 5083.75,  # Libra esterlina
    "CAD": 3240.50,  # Dólar canadiense
    "EUR": 4520.50,  # Euro
    "AUD": 2900.30,  # Dólar australiano
    "NZD": 2700.20,  # Dólar neozelandés
    "CHF": 4200.10,  # Franco suizo
    "ZAR": 280.15,   # Rand sudafricano
    "SEK": 450.25,   # Corona sueca
    "HKD": 530.40,   # Dólar de Hong Kong
    "JPY": 36.50,    # Yen japonés
    "INR": 50.30,    # Rupia india
    "ARS": 25.60,    # Peso argentino
    "MYR": 980.45,   # Ringgit malayo
    "NOK": 420.35,   # Corona noruega
    "BRL": 800.75,   # Real brasileño
    "DKK": 605.20,   # Corona danesa
    "TTD": 610.50,   # Dólar de Trinidad y Tobago
    "MXN": 210.80,   # Peso mexicano
    "CZK": 190.90,   # Corona checa
    "BDT": 48.60,    # Taka bangladesí
    "PHP": 74.20,    # Peso filipino
    "PLN": 1000.00,  # Zloty polaco
    "TRY": 550.75,   # Lira turca
    "CNY": 640.50,   # Yuan chino
    "ILS": 1200.30,  # Nuevo shéquel israelí
    "TWD": 150.40,   # Nuevo dólar taiwanés
    "SGD": 3050.60,  # Dólar de Singapur
    "KRW": 3.50,     # Won surcoreano
    "THB": 125.70,   # Baht tailandés
    "IDR": 0.29,     # Rupia indonesia
    "LKR": 22.50,    # Rupia de Sri Lanka
    "SAR": 1100.80,  # Riyal saudí
    "NGN": 10.50,    # Naira nigeriano
    "TZS": 1.78,     # Chelín tanzano
    "COP": 1.00      # Peso colombiano
}



# Agregar columnas de salario en COP
df["Annual_Salary_COP"] = 0
df["Compensation_COP"] = 0

# Convertir valores a COP
for index, row in df.iterrows():
    
    moneda = row["Currency"]
    salario = row["Annual_Salary"]
    salario = int(salario.replace(",", "")) 
    compensacion = row["Additional_Compensation"]
    
    # Validar si la moneda está en currency_map_main
    if moneda in currency_map_main:
        iso_code = currency_map_main[moneda]
    elif moneda == "Other":
        other_currency = row["If \"Other,\" please indicate the currency here: "]
        iso_code = currency_map_other.get(other_currency, "COP")
    else:
        iso_code = "COP"
    
    # Si la moneda es COP, mantener el valor original
    if iso_code == "COP":
        df.at[index, "Annual_Salary_COP"] = salario
        df.at[index, "Compensation_COP"] = compensacion
    else:
        tasa_cambio = exchange_rates.get(iso_code, 1)  # Obtener tasa de cambio o 1 si no está
        df.at[index, "Annual_Salary_COP"] = salario * tasa_cambio
        df.at[index, "Compensation_COP"] = compensacion * tasa_cambio

/var/folders/17/sp2d8jj91lqbmd466bh0l7mm0000gn/T/ipykernel_68413/2923896598.py:110: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '275219213.75' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, "Annual_Salary_COP"] = salario * tasa_cambio

In [159]:
df.head(150)

,Timestamp,Age,Industry,Job title,"If your job title needs additional context, please clarify here:",Annual_Salary,Additional_Compensation,Currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",Country,State_US,City,Years_Professional_Experience,Professional_Expr_inField,Highest_Education,Gender,Race,Annual_Salary_COP,Compensation_COP
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,USA,Massachusetts,boston,5-7 years,5-7 years,Master's degree,Woman,White,227197850.0,0.0
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,united kingdom,NaN,cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,277572750.0,20335000.0
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,USA,Tennessee,chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,140449580.0,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,256113940.0,12392610.0
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,USA,South Carolina,greenville,8 - 10 years,5-7 years,College degree,Woman,White,247852200.0,28916090.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,4/27/2021 11:05:53,25-34,Law,Staff Attorney,"Roughly equivalent to an Associate Attorney, b...","74,000",NaN,USD,NaN,NaN,USA,Michigan,grand rapids,8 - 10 years,2 - 4 years,Master's degree,Non-binary,White,305684380.0,NaN
146,4/27/2021 11:05:53,25-34,Nonprofits,Program Associate,NaN,"63,000",1000.0,USD,NaN,NaN,USA,District of Columbia,dc,5-7 years,2 - 4 years,College degree,Woman,White,260244810.0,4130870.0
147,4/27/2021 11:05:53,25-34,Recruitment or HR,Senior People Advisor,Roughly - mid-level HR manager,"45,000",10000.0,GBP,NaN,NaN,united kingdom,NaN,london,11 - 20 years,8 - 10 years,College degree,Woman,White,228768750.0,50837500.0
148,4/27/2021 11:05:54,25-34,Education (Higher Education),English as a Second Language Teacher,NaN,"18,000",0.0,EUR,NaN,NaN,spain,NaN,NaN,8 - 10 years,5-7 years,College degree,Woman,White,81369000.0,0.0
149,4/27/2021 11:05:55,35-44,Nonprofits,Online Sales Support Manager,NaN,"86,000",6000.0,USD,NaN,NaN,USA,NaN,new york,11 - 20 years,8 - 10 years,College degree,Woman,White,355254820.0,24785220.0

In [160]:
df["Total_Annual_Salary_COP"] = df["Annual_Salary_COP"].fillna(0) + df["Compensation_COP"].fillna(0)

In [161]:
df

,Timestamp,Age,Industry,Job title,"If your job title needs additional context, please clarify here:",Annual_Salary,Additional_Compensation,Currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",...,State_US,City,Years_Professional_Experience,Professional_Expr_inField,Highest_Education,Gender,Race,Annual_Salary_COP,Compensation_COP,Total_Annual_Salary_COP
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,...,Massachusetts,boston,5-7 years,5-7 years,Master's degree,Woman,White,2.271978e+08,0.0,2.271978e+08
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,...,NaN,cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,2.775728e+08,20335000.0,2.979078e+08
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,...,Tennessee,chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,1.404496e+08,NaN,1.404496e+08
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,...,Wisconsin,milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,2.561139e+08,12392610.0,2.685066e+08
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,...,South Carolina,greenville,8 - 10 years,5-7 years,College degree,Woman,White,2.478522e+08,28916090.0,2.767683e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28107,1/27/2025 21:02:19,45-54,Computing or Tech,CMO,NaN,279000,0.0,USD,NaN,NaN,...,Washington,seattle,21 - 30 years,11 - 20 years,Master's degree,Woman,Middle Eastern or Northern African,1.152513e+09,0.0,1.152513e+09
28108,2/4/2025 9:27:51,25-34,Computing or Tech,Trainee,NaN,25300,NaN,EUR,NaN,NaN,...,NaN,milano,1 year or less,1 year or less,Master's degree,Man,White,1.143686e+08,NaN,1.143686e+08
28109,2/4/2025 23:17:22,25-34,PhD,Teaching assistant,NaN,34000,NaN,USD,NaN,NaN,...,California,santa barbara,2 - 4 years,2 - 4 years,NaN,NaN,NaN,1.404496e+08,NaN,1.404496e+08
28110,2/5/2025 19:30:59,25-34,Business or Consulting,Data Analyst,NaN,5700000,NaN,Other,Pesos Colombianos,NaN,...,NaN,bogotá,2 - 4 years,2 - 4 years,College degree,Woman,"Hispanic, Latino, or Spanish origin",5.700000e+06,NaN,5.700000e+06
28111,2/6/2025 19:22:31,55-64,IT,Database Engineer,NaN,138000,0.0,USD,NaN,NaN,...,Colorado,severance,21 - 30 years,21 - 30 years,Master's degree,Woman,White,5.700601e+08,0.0,5.700601e+08

In [162]:
df.columns

Index(['Timestamp', 'Age', 'Industry', 'Job title',
       'If your job title needs additional context, please clarify here:',
       'Annual_Salary', 'Additional_Compensation', 'Currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'Country', 'State_US', 'City', 'Years_Professional_Experience',
       'Professional_Expr_inField', 'Highest_Education', 'Gender', 'Race',
       'Annual_Salary_COP', 'Compensation_COP', 'Total_Annual_Salary_COP'],
      dtype='object')

In [163]:
df.to_csv("normalized_survey.csv", index=False)

In [164]:
# Normalizar todas las columnas de texto a UTF-8
for col in df.select_dtypes(include=["object"]):  # Filtra solo columnas de tipo texto
    df[col] = df[col].astype(str).apply(lambda x: x.encode("utf-8", "ignore").decode("utf-8"))

# Guardar en formato Excel
df.to_excel("normalized_survey2.xlsx", index=False, engine="openpyxl")